@import './variables';

/* basic style */
*{
  box-sizing: border-box;
}
html, body{
  font-size: 62.5%;
  font-family: 'HG創英角ゴシックUB';
}
a{
  text-decoration: none;
}
p{
  font-size: 1.6rem;
  line-height: 1.8;
}
ul{
  list-style: none;
  padding-left: 0;
}
img{
  display: block;
}

/* basic class */
.wrap{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.vertical_padding{
  padding: 50px 0;
}
.link_wrap{
  display: contents;
}
.section_heading{
  color: #000;
  font-size: 2rem;
}
.blue_link{
  color: #06C;
  &:hover{
    text-decoration: underline;
  }
}
.basic_link{
  &:hover{
    text-decoration: underline;
  }
}
.contents{
  display: contents;
}
.like__button{
  width: 140px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid $main_color;
  border-radius: 5px;
  position: relative;
  text-align: right;
  padding: 10px 15px;
  margin-left: auto;
  margin-bottom: 15px;
  cursor: pointer;
}
.like__icon{
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: calc(50% - 20px / 2);
  left: 0.3em;
}
.like__text--number{
  font-weight: normal;
  margin-left: 5px;
}

/* logo */
.basic__logo{
  width: 120px;
  height: 35px;
}

/* search form */
.basic__searchform{
  margin-top: 10px;
}
.basic__searchcontents{
	position: relative;
  dt{
    width:70%;
    padding:4px;
    background-color:#fff;
    border:1px solid #aaa;
    position: absolute;
  }
  dd{
    &:first-of-type{
      position: absolute;
      right: 152px;
      top: 0;
      width: 15%;
    }
    position: absolute;
    top: 0;
    right: 2px;
    width: 15%;
  }
}
.basic__searchinput{
  width:100%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
  font-size: 1.6rem;
}
.basic__search--category{
  height: 40px;
  width: 100%;
  font-size: 1.4rem;
}
.basic__searchbutton{
  	display:block;
	height:40px;
	color: $main_color;
	line-height:40px;
	text-align:center;
	border:1px solid $main_color;
	width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  &:hover{
    	background: $main_color;
      color: #fff;
  }
}

/* basic form */
.form__wrap{
  .basic__logo{
    margin: 10px;
  }
}
.basic__form{
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  & + p {
    margin-top: 30px;
    text-align: center;
    font-size: 1.6rem;
  }
}
.basic__form--item{
  &:not(:last-child){
    margin-bottom: 20px;
  }
}
.basic__form--label{
}
.basic__form--input{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.6rem;
  &::placeholder{
    font-size: 1.6rem;
  }
}
.basic__form--textarea{
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 1.6rem;
  &::placeholder{
    font-size: 1.6rem;
  }
}
.basic__form--select{
  width: 50%;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.4rem;
}
.basic__form--submit{
  width: 100%;
  max-width: 400px;
  background-color: #d66522;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

/* error message */
.basic__text--error{
  background-color: #F2BAB9;
  color: #DC4342;
  border: 3px solid #DC4342;
  text-align: center;
  padding: 10px;
  font-size: 1.6rem;
  li{
    margin-top: 10px;
  }
}

/* flash message */
.basic__text--flash{
  background-color: #A8F1C6;
  color: #1B2E1F;
  border: 3px solid #1B2E1F;
  text-align: center;
  padding: 10px;
  font-size: 1.6rem;
}

/* basic horizontal rule */
.basic__hr{
  background-color:#CCC;
  margin-top: 5px;
}

/* footer */
.footer__wrap{
  background-color: #F0EFF5;
}
.footer__inner{
  width: 90%;
  margin: 0 auto;
  &.vertical_padding{
    padding: 50px 0 15px;
  }
}
.footer__flex--wrap{
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  li{
    padding: 0 15px;
    &:not(:first-child){
      border-left: 1px solid #88338A;
    }
  }
}
.footer__text--copyrights{
  font-size: 1.2rem;
  color: #666;
  margin: 20px;
  display: block;
  text-align: center;
}
